.yus {
  width:100%;
  padding: 40px;
  margin: 0;
  background: #f3f3f3;

}

.yus_head{
  font-size: 36px;
  color: #bf0000;
  font-weight: 900;
  letter-spacing: 3px;
  padding-bottom: 24px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.yus_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.yus_cards {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}

.yus_card {
  height: 700px;
  width: 350px;
}

.card {
  height: inherit;
  width: inherit;
  position: absolute;
  transform-style: preserve-3d;
  transition: all .3s ease-in-out;
}

.card:hover {
  transform: rotateY(180deg);
}
.card .side {
  backface-visibility: hidden;
  border-radius: 6px;
  height: 100%;
  position: absolute;
  overflow: hidden;
  width: 100%;
}
.card .back {
  background: #eaeaed;
  color: #0087cc;
  line-height: 150px;
  text-align: center;
  transform: rotateY(180deg);
}

.yus_text {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: justify;
  font-size: 15px;
  line-height: 1.6;
  color: #2c2c2c;
}

.yus_head_text {
  padding: 10px;
}
